# Gradle
.gradle/
build/

# Local configuration file (sdk path, etc)
local.properties

# Android Studio / IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/
.navigation/
captures/
.cxx/

# Executables and Artifacts
*.apk
*.aar
*.ap_
*.aab
*.dex
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# OS
.DS_Store
Thumbs.db

# Kotlin
.kotlin/