name: Build Pipeline

on:
  push:
    branches: [ "main" ]
    paths:
      - 'pipeline/**'

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x pipeline/gradlew

      - name: Decode Keystore
        run: |
          echo "${{ secrets.ANDROID_KEYSTORE_BASE64 }}" | base64 --decode > pipeline/app/release.jks

      - name: Build with Gradle
        run: cd pipeline && ./gradlew assembleRelease
        env:
          KEYSTORE_PASSWORD: ${{ secrets.KEYSTORE_PASSWORD }}
          KEY_ALIAS: ${{ secrets.KEY_ALIAS }}
          KEY_PASSWORD: ${{ secrets.KEY_PASSWORD }}

      - name: Rename APK
        run: mv pipeline/app/build/outputs/apk/release/app-release.apk pipeline/app/build/outputs/apk/release/pipeline.apk

      - name: Release APK
        uses: softprops/action-gh-release@v1
        with:
          tag_name: pipeline-latest
          name: "Pipeline (Latest)"
          files: pipeline/app/build/outputs/apk/release/pipeline.apk
          overwrite: true
